* {
    box-sizing: border-box;
    background-color: #eaefd3;
    color: #27233a;
}

----------- color palette
colors: 
    #DCC48E - header/footer
    #EAEFD3 - background
    #B3C0A4 - other assigned
    #505168 - other assigned
    #27233A - font
} */

/* ---------- general layout setup

header, footer {
    background-color: #dcc48e;
    margin: 0px auto;
}

header a, footer a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
#user {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 50px;
}
